* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

section {
    padding: 100px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: rgba(0, 0, 0, 0.1);
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    text-transform: uppercase;
    float: left;
    font-weight: 700;
}

.header ul {
    display: flex;
    align-items: flex-end;
    float: right;
    list-style: none;
}

.header ul li {
    margin-right: 30px;
}

.header ul li a {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #161616;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    background: transparent;
}

.banner {
    background: url(../img/banner.jpg) center;
    background-size: cover;
    width: 100%;
}